@import url('https://fonts.googleapis.com/css2?family=Madimi+One&family=Poppins:wght@200&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;



* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.madimi-one-regular {
    font-family: "Madimi One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.poppins-extralight {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
}


.item {
    width: 56%;
    overflow: visible;
    stroke: #fff;
    stroke-width: 2;
    stroke-linejoin: round;
    stroke-linecap: round;
}

/* 
.bg-my-class {
    background-image: url("/src/assets/css-pattern-by-magicpattern.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    opacity: 1;
} */

.rudranshName {
    -webkit-text-stroke: 1px black;
    color: white;
    text-shadow:
        3px 3px 0 #000,
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
}